@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

// Set your brand colors
$black: #020206;
$grey: #737372;
$bg-light: #f2f3f9;

// Update Bulma's global variables
$family-sans-serif: 'Quicksand', sans-serif;
$primary: $black;
$grey-light: $grey;
$light: $bg-light;
$body-background-color: $light;
$box-padding: 2px;
$table-cell-padding: 2px;

.overflow {
  overflow: overlay;
}

.nav-height {
  height: 92px;
}

.round-corner {
  border-radius: 20px;
}

.overview {
  min-height: 300px;
}
.income {
  height: 150px;
  -webkit-box-shadow: 2px 3px 15px 6px rgba(0, 0, 0, 0.09);
  box-shadow: 2px 3px 15px 6px rgba(0, 0, 0, 0.09);
}
.cost {
  height: 150px;
}
.box-percentage {
  padding: 2px;
  border-radius: 5px;
  background-color: #ecfff4;
  text-align: center;
  color: #40ec88;
}
.cost .box-percentage {
  padding: 2px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  color: $primary;
}

.next-prev {
  min-height: 126px;
}

.next-prev .box-percentage {
  padding: 2px;
  border-radius: 5px;
  background-color: #ecfff4;
  text-align: center;
  color: #40ec88;
}
.next-prev .arrow {
  text-align: center;
  padding: 0;
}

.statistics {
  min-height: 300px;
}

.title-underline {
  border-bottom: 1px solid #e4e4e4;
}
.email {
  display: flex;
  margin: auto;
  align-items: center;
}
.email-text {
  font-size: 8px;
  margin-left: 5px;
}
.detail-cost {
  min-height: 126px;
}
.box-table {
  max-height: 70px;
  overflow: scroll;
}
.table .is-borderless {
  border: 0;
}
.about {
  min-height: 126px;
  max-height: 126px;
}

.box-about {
  max-height: 70px;
  overflow: scroll;
}

.bar-chart {
}

// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
@import '../../../node_modules/bulma/bulma.sass';
